html {
  background-color: black;
}

body {
  color: white;
}

img {
  width: 100%;
  border: 5px solid white;
}

div {
  width: 50%;
  margin-left: 25%;
}

h1 {
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
